
body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #666666;
    font-size: 120%;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    font-family: "Gill Sans" , "Arial Narrow", monospace ;
}


h1 {
    background-color: black;
    font-family: Blippo, fantasy;
    color: #800000;
    text-align: center;
    size: 40px;
}
h2 {
    background-color: #1a0000;
    font-family: Blippo, fantasy;
    color: #800000;
    text-align: center;
    size: 200%;
}

#logo {
    width: 200px;
}

img, iframe {
    display: block;
    margin: 30px 30px;
    margin-left: auto;
    margin-right: auto;

}

a:link {
    text-shadow: 1px 1px #808080;
    color: white;
    text-decoration: none;
}

a:visited {
    color: #808080;
}

a:hover {
    color: #b3b3b3;
    text-decoration: none;
}

a:active {
    color: black; 
    text-decoration: none;
}

ul {
}

li {
    list-style-type: none;
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
